@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: 'Outfit', sans-serif;
}

*::selection{
  color: black;
  background-color: white;
}

@theme{
  --color-primary: #f5f5f5;
  --color-primary-dull: black;
  --color-secondary: #161c1f;
}

.logo{
    width: 100px;
    height: 100px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  height: auto;
}

::-webkit-scrollbar-track {
  background: black;
  border: 0px solid;
  border-radius: 15px;
  margin-bottom: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
  border: 2px solid #111;
  margin: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 255, 255,0.8);
}


